<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.springer.quality.utilities.testnglisteners.CustomITestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/kbt7177/Documents/Kaustubh/Automation-Projects/DfluxApiAutomationSuit">
        
        <packages>
            <package name="com.springernature.*"/>
        </packages>
<!--        <classes>-->
<!--            <class name="com.springernature.dflux.quality.test.JournalsApiTests">-->
<!--                <methods>-->
<!--                    <include name="verifyJournalsApiForInsertionOfRecord"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.springernature.dflux.quality.test.ThesApiTest"></class>-->
<!--        </classes>-->

    </test>
</suite>